// componentes para los likes de un post y comentario


mixin likes(array, comments) 
    - let c_love = array.filter(element=> element.tipo === 'Me_encanta').length
    div(class="likes")
        div 
            img(src="../../../public/assets/heart.svg" style="width:25px")
        div=c_love
        div 
            img(src="../../../public/assets/chat.svg" style="width:25px")
        div=comments
            
        
