// componentes para los likes de un post y comentario


mixin likes(array, comments) 
    - let c_love = array.filter(element=> element.tipo === 'Me_encanta').length
    div(class="d-flex flex-row mb-3")
        div(class="p-2")
            img(src="../../../public/assets/heart.svg" style="width:15px")
        div(class="p-2")=c_love  
        div(class="p-2")
            img(src="../../../public/assets/chat.svg" style="width:15px")
        div(class="p-2")=comments
            
        
mixin doLike(array, comments)
    - let c_love = array.filter(element=> element.tipo === 'Me_encanta').length
    div(class="d-flex flex-row mb-3")
        div(class="p-2")
            form(action="#" method="post")
                button(class="btn btn-light")
                    img(src="../../../public/assets/chat.svg")
        div(class="p-3")=comments
        div(class="p-2")
            form(action="#" method="post")
                button(class="btn btn-light")
                    img(src="../../../public/assets/share.svg")
        div(class="p-2")
            form(action="#" method="post")
                button(class="btn btn-light")
                    img(src="../../../public/assets/heart.svg")
        div(class="p-3")=c_love
