include ../components/header.pug
body 
div(class="container")
    div(class="mb-3 w-25 mx-auto text-center")
        form(action="/login" enctype="application/x-www-form-urlencoded" method="post") 
            label(for="" class="form-label") Email
            input(type="text" class="form-control" name="user")
            label(for="" class="form-label") Password
            input(type="password" class="form-control" name="password")
            button(class="btn btn-primary") Login
    div(class="mb-3 mx-auto")
        a(href="/signup") Registrate
