include ../components/header.pug
body 
include mixins/cardpost.pug
include mixins/helpers.pug
include mixins/interacciones.pug
if code >= 200 && code <= 204
    +navbar(id)
    if created === 'true'
        div(class="alert alert-success alert-dismissible fade show" role="alert") Post creado con exito
            button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close")
    h1 Crea tu comentario
    div(class="mb-3 w-25 mx-auto")
        form(action="/posts" method="POST") 
            label(class="form-label") Categoria
            select(class="form-select" name="id_category")
                option(selected) Elige una categoria
                for categori in categorias 
                    option(value=categori.id)=categori.nombre
            label(for="" class="form-label") Titulo del comentario
            input(type="text" class="form-control" name="titulo")
            label(for="" class="form-label") Contenido del comentario
            textarea(name="contenido", cols="100", rows="10" class="form-control") 
            button(class="btn btn-primary") Crear Post
    for element in data
        - const url = element.id
        - const titulo = element.titulo 
        - const autor = element.usuarios.nombre 
        - const contenido = element.contenido
        +post(titulo, autor, contenido, url, element.interaccion_posts)
        //- +likes(element.interaccion_posts)
        //- if element.comentarios.length > 0
        //-     h3(class="text-center") Comentarios
        //-     for comentario in element.comentarios 
        //-         div(class="container")
        //-             +comentario(comentario.usuarios.nombre, comentario.contenido)
        //-     +likes(element.interaccion_posts)
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>