
include ../components/header.pug
include mixins/interacciones.pug
include mixins/helpers.pug
include mixins/cardpost.pug

if code==200
    +navbar(id)
    - const autor = data.usuarios.nombre
    - const titulo = data.titulo
    - const fecha = data.fecha
    - const contenido = data.contenido
    - const categoria = data.categorias.nombre 
    - const comentarios = data.comentarios
    - const likes = data.interaccion_posts
    +postByid(autor, titulo, categoria, contenido, fecha, comentarios, likes)
            if data.comentarios.length > 0
                for comentario in data.comentarios
                    h1 Comentarios  
                    div(class="card-footer text-muted") Fecha #{comentario.fecha}
                    h3= comentario.usuarios.nombre
                    p(class="card-text")= comentario.contenido
                    p= comentario.interaccion_comentarios.length
                    +likes(comentario.interaccion_comentarios)  
else 
    +notFound()